[Unit]
Description=Systemapi Service Daemon
ConditionPathExists=/opt/dtac-agent/bin/dtac-agentd
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/opt/dtac-agent/bin
ExecStart=/opt/dtac-agent/bin/dtac-agentd
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dtac-agentd

[Install]
WantedBy=multi-user.target