[Unit]
Description=Systemapi Service Daemon
ConditionPathExists=/opt/system-agent/bin/system-agentd
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/opt/system-agent/bin
ExecStart=/opt/system-agent/bin/system-agentd
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=system-agentd

[Install]
WantedBy=multi-user.target