listen_port: 8080

https: true
# cert_file: /certs/tls.crt
# key_file: /certs/tls.key
updater:
  token: 7888124ef00163d6bddc618bcc627b1a4c0d0564
  mode: auto
  interval: 1m
  error_fallback: 1h
  restart_on_update: true

# Plugins are located in /etc/system-api/plugins on Linux or in the plugins directory under the executable path on Windows
plugins:
  listen_port: 8081
  dir: /etc/system-api/plugins
  active:
    - host_stats:
        binary: hoststatd.exe
        target: 192.168.1.33
        protocol: ssh
        user: intel
        pass: intel123
        ensure_running: true

    - hello:
        binary: hello
        target: localhost
        #protocol: direct [default]
        #user: "" [default]
        #pass: "" [default]
        #ensure_running: false [default]

custom:
  - stats_user1:
      route: "/webrtc/stats_user1"
      wrap_json: no
      source:
        type: file
        value: "c:\\windows\\temp\\stats_user1.json"
      methods: ["GET"]
      access: open
      mode: blocking # direct <default>, blocking
      blocking:
        trigger: change
        detect: hash
        timeout_ms: 10000
        timeout_action: stale # error <default>, stale

  - stats_screencast:
      route: "/webrtc/stats_screencast"
      wrap_json: no
      source:
        type: file
        value: "c:\\windows\\temp\\stats_screencast.json"
      methods: ["GET"]
      access: open
      mode: blocking
      blocking:
        trigger: change
        detect: hash
        timeout_ms: 10000
        timeout_action: stale

  - date:
      wrap_json: yes
      source:
        type: cmd
        run_as: intel
        value: date
      methods: ["GET"]

  - whoami:
      route: "/cmds/whoami"
      wrap_json: yes
      source:
        type: cmd
        run_as: sudo
        value: whoami
      methods: ["GET"]

  - wemo:
      route: "/wemo/control"
      wrap_json: no
      source:
        type: cmd
        run_as: intel
        value: wemo --json ${vars}
        variables:
          source: query_params
          format: "--${key} ${value}"
          whitelist:
            latency: "[0-9]{1,4}"
            jitter: "[0-9]{1,4}"
            loss: "[-+]?[0-9]*\\.?[0-9]+"
            reorder: "[-+]?[0-9]*\\.?[0-9]+"
            corruption: "[-+]?[0-9]*\\.?[0-9]+"
            duplication: "[-+]?[0-9]*\\.?[0-9]+"
            rate: "[-+]?[0-9]*\\.?[0-9]+[bkmgBKMG]*"
      methods: ["GET"]


