---
# Port the service will use to listen for requests
listen_port: 8080

# Service uses https
https: false
# cert_file: /certs/tls.crt
# key_file: /certs/tls.key

# Lockout auto-expire time in seconds
lockout_timeout: 60

watchdog:
  enabled: true
  poll_interval: 10
  profile: NetworkOfFuture
  bssid: not_implemented_yet

# Section for service auto-updater **CURRENTLY DISABLED IN CODE**
updater:
  token: 7888124ef00163d6bddc618bcc627b1a4c0d0564
  mode: auto
  interval: 1m
  error_fallback: 1h
  restart_on_update: true

# Plugins
plugin_dir: /etc/system-api/plugins
plugins:
  # TODO: New plugin system doesn't support passing a configuration to the plugin yet. Fix that
  - hello:
      message: "hello world plugin"

  - non-existent:
      message: "non-existent plugin"

# Modules are compiled sections of code that can be selectively enabled
modules:
  - hello:
      message: "hello world module"

  - remote:
      host: 127.0.0.1
      port: "5555"
      token: abcdefghijklmnopqrstuvwxyz0123456789
      bob: uncle

  - non_existent:
      item1: 123
      item2: abc
      item3:
        - 1
        - 2
        - 3
        - 4
        - 5

# Custom is customer handlers. TODO: Look at replacing these with plugins?
custom:
  - stats_user1:
      route: "/webrtc/stats_user1"
      wrap_json: no
      source:
        type: file
        value: "c:\\windows\\temp\\stats_user1.json"
      methods: ["GET"]
      access: open
      mode: blocking # direct <default>, blocking
      blocking:
        trigger: change
        detect: hash
        timeout_ms: 10000
        timeout_action: stale # error <default>, stale

  - stats_screencast:
      route: "/webrtc/stats_screencast"
      wrap_json: no
      source:
        type: file
        value: "c:\\windows\\temp\\stats_screencast.json"
      methods: ["GET"]
      access: open
      mode: blocking
      blocking:
        trigger: change
        detect: hash
        timeout_ms: 10000
        timeout_action: stale

  - date:
      wrap_json: yes
      source:
        type: cmd
        run_as: intel
        value: date
      methods: ["GET"]

  - whoami:
      route: "/cmds/whoami"
      wrap_json: yes
      source:
        type: cmd
        run_as: sudo
        value: whoami
      methods: ["GET"]

  - wemo:
      route: "/wemo/control"
      wrap_json: no
      source:
        type: cmd
        run_as: intel
        value: wemo --json ${vars}
        variables:
          source: query_params
          format: "--${key} ${value}"
          whitelist:
            latency: "[0-9]{1,4}"
            jitter: "[0-9]{1,4}"
            loss: "[-+]?[0-9]*\\.?[0-9]+"
            reorder: "[-+]?[0-9]*\\.?[0-9]+"
            corruption: "[-+]?[0-9]*\\.?[0-9]+"
            duplication: "[-+]?[0-9]*\\.?[0-9]+"
            rate: "[-+]?[0-9]*\\.?[0-9]+[bkmgBKMG]*"
      methods: ["GET"]


