include:
  - "$XDG_CONFIG_HOME/dtac/config.d/*.yaml"
  - "~/.config/dtac/config.d/*.yaml"
  - "/etc/dtac/config.d/*.yaml"
auth:
  admin: admin
  default_secure: true
  model: /etc/dtac/auth_model.conf
  pass: need_to_generate_a_random_password_on_install_or_first_run
  policy: /etc/dtac/auth_policy.csv
  access_token_expiration: 15m
  refresh_token_expiration: 168h
  static_testing_token: ""
apis:
  grpc:
    enabled: true
    port: 8181
    reflection: false
    tls:
      enabled: true
      profile: default
  json:
    enabled: false
    port: 8182
    tls:
      enabled: true
      profile: default
  rest:
    enabled: true
    port: 8180
    tls:
      enabled: true
      profile: default
    cors:
      enabled: false
      allowed_origins:
        - "*"
      allowed_methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowed_headers:
        - Origin
        - Content-Type
        - Accept
        - Authorization
      exposed_headers:
        - Content-Length
      allow_credentials: false
      max_age: 3600
lockout:
  auto_unlock_time: 10s
  enabled: true
output:
  log_level: debug
  wrap_responses: false
plugins:
  dir: /opt/dtac/plugins/
  enabled: true
  group: plugins
  load_unconfigured: false
  tls:
    enabled: true
    profile: default
  entries:
    hello:
      config:
        message: hello world plugin
      enabled: true
      hash: ""
      user: ""
subsystems:
  auth: true
  diag: true
  echo: true
  hardware: true
  network: true
  validation: true
tls:
  default:
    ca: /etc/dtac/certs/ca.crt
    cert: /etc/dtac/certs/tls.crt
    create_if_missing: true
    domains:
      - localhost
    enabled: true
    key: /etc/dtac/certs/tls.key
    type: self-signed