listener:
  https:
    cert: /etc/dtac/certs/tls.crt
    create_if_missing: true
    domains:
      - localhost
      - 127.0.0.1
    enabled: true
    key: /etc/dtac/certs/tls.key
    type: self-signed
  port: 8180
lockout:
  auto_unlock_time: 30s
  enabled: true
plugins:
  dir: /opt/dtac/plugins
  enabled: true
  entries:
    hello:
      config:
        message: hello world plugin
      cookie: this_is_not_a_security_feature
      enabled: true
      hash: acf432990799087e0a651f26339d16b08f21f5f48d5981b3b86032fc412b1a30
routes: []
subsystems:
  firewall: false
  iperf: true
  tcp_reflector: true
  udp_reflector: true
updater:
  enabled: false
  error_fallback: 1h
  interval: 1m
  mode: auto
  restart_on_update: true
  token: ""
wifi_watchdog:
  bssid: ""
  enabled: false
  poll_interval: 10s
  profile: ""
