name: goreleaser

on:
  pull_request:
    branches:
      - main
  push:
    tags:
      - '*'
    branches:
      - main
jobs:
  goreleaser:
    runs-on:
      group: sec-internal
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      -
        name: Build
        run: |
          go run support/mage/mage.go deps
          go run support/mage/mage.go build
          go run support/mage/mage.go plugins
